# TODO
# - For staging/prod:
#   - Document how to tunnel sftp://
#   - Document how to test with cf ssh port-forwarding to your browser!
{
	debug
	log {
		format console
		level {$CADDY_LOG_LEVEL:INFO}
	}
	auto_https off
	# Configure TLS to generate Python 3.13 compatible certificates
	local_certs
}

:{$PORT} {
	# Generate self-signed certificates compatible with Python 3.13
	tls internal

	# Serve CA certificate for client apps
	@ca_request path /ca-certificate
	handle @ca_request {
		root * /data/caddy/pki/authorities/local
		rewrite * /root.crt
		file_server {
			hide .*
		}
		header Content-Type "application/x-pem-file"
		header Content-Disposition "attachment; filename=caddy-ca.crt"
	}

	forward_proxy {
		basic_auth {$PROXY_USERNAME} {$PROXY_PASSWORD}
		probe_resistance
		acl {
			deny_file deny.acl
			allow_file allow.acl
			deny all
		}
		ports {$PROXY_PORTS:443}
	}
	log {
		format json
		level {$CADDY_LOG_LEVEL:INFO}
		output stdout
	}
}
